.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.home {
  margin-top:50px;
}

 .home .cont .notes {
  float:left;
  margin:20px;
  width: 350px;
  height: 200px;
}
.home .cont .addnotes {
  float:left;
  height: 20px;
  margin-left:100px;
}

.addnotesContainer {
  max-height: 10%;
  max-width: 100%;
}

footer {
  height:24px; 
  width: 100%; 
  background-image: none;
  background-repeat: repeat;
  background-attachment: scroll;
  background-position: 0% 0%;
  position: fixed;
  bottom: 0pt;
  left: 0pt;
}
.footer_contents {

  height:24px; 
  width: 1000px;
  margin:auto;

}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
